{%
  set classes = [
    'icon-label',
    icon_only ? 'visually-hidden',
  ]
%}

{% if icon and position=="before" %}
  <i class="{{ icon }}">{{ children }}</i>
{% endif %}
{% if text %}
  <span {{ attributes.addClass(classes) }}>
    {{ text }}
  </span>
{% endif %}
{% if icon and position=="after" %}
  <i class="{{ icon }}">{{ children }}</i>
{% endif %}
